[submodule "OmniIsaacGymEnvs"]
	path = OmniIsaacGymEnvs
	url = https://github.com/NVIDIA-Omniverse/OmniIsaacGymEnvs.git
[submodule "rl_games"]
	path = rl_games
	url = https://github.com/yurangja99/rl_games.git
